html body {
    background-color: rgb(211, 211, 211);
    font-family: 'Muli', serif;
}

i {
    color: rgb(211, 211, 211);
}

nav img {
    margin: 0.5em 1em;
}

.ui.tiny.inverted.tabular.menu {
    margin: 0 auto;
    font-family: 'Muli', serif;
    font-weight: 200;
    height: 2rem;
}

.ui.two.column.grid {
    height: 100%;
}

#sidebar_container {
    margin-top: 11px;
    background-color: #1b1c1d;
    width: 8rem;
    margin-left: 0.5rem;
    height: 100%;
}