// color
$background: #DFCDC3;
$heading: #719192;
$normal: #5F6769;
$dull: #3C4245;
$white: rgb(250, 240, 240);
$active: rgb(175, 175, 69);
$negative: rgb(209, 59, 59);
// text
$textLight: #DFCDC3;
$textDark: #3C4245;
//padding
$pNormal: 1rem;
//size
$sMenu: 60px;
$mMenu: 100px;