@import 'variables.scss';
.workspace {
    height: 100%;
    width: 100%;
    background-color: $white;
    .chord-card {
        width: max-content;
        padding: $pNormal;
        min-width: 10px;
        display: flex;
        h1 {
            font-size: 1.5em;
        }
        h2 {
            font-size: 1em;
        }
    }
    .chord-card:hover {
        cursor: pointer;
    }
    .options {
        overflow: scroll;
        display: flex;
        justify-content: space-evenly;
        background-color: $normal;
        .chord-card {
            color: $textLight
        }
        .chord-card:hover {
            background-color: $active;
        }
    }
    .display {
        padding: $pNormal;
        display: flex;
        height: max-content;
        flex-wrap: wrap;
        .chord-card {
            color: $textDark;
        }
        .chord-card:hover {
            background-color: $negative;
        }
    }
}